body{
    text-align: center;
}
#connect4{
    background-color: yellow;
    display: inline-block;
}
.row{
    /* border: 1px solid red; */
}
.column{
    padding: 5px;
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}